.AllCardsContainer{
    width: 75%;
    padding: 2rem 0;
}  
.CardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 0;
}
.CardsTitle{
    /* font-size: 1.5rem;
    align-self: flex-start; */
    text-align: center;
    background-color: #45230ffd;
    width: 100%;
    color: #faffd8;
    font-weight: 100;
    padding: .6rem;
    border-radius: 6px;
}