.CoffeeCard-Container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.237);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.coffeeDescriptionContain{
    display: flex;
    width: 30%;
    height: 10rem;
    align-items: center;
}
.coffeeH6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    width: 100%;
    padding-left: 4rem;
}
.coffeeTextContain{
    display: flex;
    align-items: center;
    text-align: center;
}
.coffeeDescripText{
    display: flex;
    text-align: center;
}
.coffeeDescripText p{
    padding-top: .2rem;
    padding-left: .5rem;
}
.coffeeTitle{
    font-weight: bold;
}
.coffeeText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.237);
    padding: 1rem;
}
.coffeeText1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
}
    
.coffeeCardImg{
    width: 150px;
    height: 150px;
}
.coffeesTitle{
    text-align: center;
    background-color: #45230ffd;
    width: 100%;
    color: #faffd8;
    font-weight: 100;
    padding: .6rem;
    border-radius: 6px;
}
.coffeeCart{
    display: flex;
    gap: 2rem;
    align-self: flex-end;
}
.coffeePrice{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.coffeeForm{
    margin-bottom: 8px !important ;
    border-radius: 10px !important;
    background-color: #204d48 !important;
    color: #faffd8 !important;
    border: none !important;
}
.coffeesInputs{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.coffeesRadios label{
    padding-left: 1rem;
}
.coffeeBtn{
    align-self: flex-end;
    margin-bottom: 1rem;
}
.coffeeBtn a{
    background-color: #204d48;
    padding: .7rem;
    margin-top: 15rem;
    border-radius: 15px;
    color: #faffd8;
}
.coffeeBtn a:hover{
    background-color: #faffd8;
    color: #45230f;
    font-weight: 600;
}
@media (max-width: 1720px){
    .coffeeH6{
        width: 100%;
        height: 15rem;
        padding-left: 10px;
        justify-content: center;
        gap: 1rem;
        padding-left: 1.5rem;
    }
    .coffeeBtn{
        align-self: flex-end;
        margin-bottom: 1rem;
        padding: 0;
    }
    .coffeeDescriptionContain{
        width: 30%;
    }
    .coffeeTextContain{
        width: 80%;
    }
    .coffeeCart{
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 1300px){
    .coffeeTextContain{
        padding-left: 1rem;
    }
}
@media (max-width: 1000px){
    .coffeeDescriptionContain{
        width: 100%;
    }
    .CoffeeCard-Container{
        flex-direction: column;
    }
    .coffeeDescripText{
        flex-direction: column;
        align-items: center;
    }
    .coffeeCart{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .coffeeBtn a{
        font-size: small;
    }
    .coffeeH6 {
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
}