.bannerCoffeeEconomy {
    background-image: url(http://drive.google.com/uc?export=view&id=10ur_x7QHnUlAqdOh7O8PllZ-CFd1coTc);
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: initial;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}



.bannerCoffeeEconomyDiv {
    background-image: url(http://drive.google.com/uc?export=view&id=1nuCy4xHuM2QjmFKleCDtmFkiuUpavHiA);
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: initial;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.divLogoBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.logoEcoFriendly {
    width: 15rem;
}

.logoNameDotCoffee {
    width: 33rem;
}
@media (max-width: 570px){
    .logoEcoFriendly {
        width: 10rem;
    }
    .logoNameDotCoffee {
        width: 20rem;
    }
    .bannerCoffeeEconomy {
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 370px){
    .logoEcoFriendly {
        width: 7rem;
    }
    .logoNameDotCoffee {
        width: 12rem;
    }
    .bannerCoffeeEconomy {
        justify-content: center;
    }
}