.footerContainer{
    width: 100%;
    min-height: 35vh;
    background-color:#45230F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}
.footerLogo img{
    width: 12rem;
    border-radius: 50%;
    margin-top: 1rem;
}
button{
    border: none;
    background-color: #45230F;
}
.footerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    cursor: pointer;
}
.footerText h2{
    color:#a3bbad;
    font-size: 1.5rem;
    text-shadow: #204D48 2px 2px;
}
.footerText a{
    color:#FAFFD8 ;
    text-align: center;
}
.footerText a:hover{
    color:#a3bbad;
    transform: translateX(.5rem);
    transition:.5s;
}
.footerSocial{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;
    padding: 1.5rem;
    
}
.footerSocial img{
    width: 40px;
    height: 40px;
    margin: 0.5rem;
}
.footerPriv{
    display: flex;
    color:#FAFFD8 ;
    border-left: #204D48 solid;
    flex-direction: row;
}
.footerPriv p{
    margin-left: 1.5rem;
    display: flex;
    padding-top: 1rem;
    align-items: center;
    cursor: pointer;
}
.footerPriv p:hover{
    color:#a3bbad;
}
.footerIcon{
    cursor: pointer;
    padding-right: 1rem;
}
@media screen and (max-width: 1024px) {
    .footerSocial{
        flex-direction: column-reverse;
        text-align: center;
    }
    .footerIcon{
        padding-top: 1rem;
    }
    .footerSocial img{
        gap: 1rem;
        flex-direction: column;
    }
    .footer{
        flex-wrap: wrap;
        gap:1rem;
    }
    .footerPriv{
        border-left:none;
        border-bottom: #204D48 solid;
    }
    .footerIcon{
        align-self: center;
    }
    .footerLogo img{
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width: 580px){
    .footerPriv{
        flex-direction: column;
    }
    .footerPriv{
        border-bottom: #204D48 solid;
        border-top: #204D48 solid;
    }
    .footer{
        flex-direction: column;
        gap:1rem;
    }
}



