
.headerContain{
    width: 100%;
    background-color: #45230f;
    color: #fff;
}
.header{
    width: 75% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.headerSpan{
    color: white;
    font-size: 2rem;
    text-align: end;
}
.headerPedi img{
    width: 25px !important;
    height: 25px !important;
    margin-bottom: 6px;
}
.headerLogged{
    display: flex;
    gap: 1.3rem;
}
.headerPedi{
    color: #955f31;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
.headerPedi:hover{
    color: white;
}
.headerLogo img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    padding: 8px;
    position: absolute;
    margin-top: -25px;
    z-index: 2;
}
.container-avatar{
    padding: 5px 0;
}
.container-avatar img{
    width: 40px !important;
    height: 40px !important;
    border-radius: 30px;
    cursor: pointer;
}
.headerCart{
    display: flex;
    align-items: center;
}
.headerCart img{
    width: 30px !important;
    height: 30px !important;
}
.headerPrueba{
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    z-index: 2;
    top: 3.5rem;
    right: 13.7rem;
    background-color: whitesmoke ;
    padding: .5rem;
    border-radius: 5px;
}
.headerMiCuenta{
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    z-index: 2;
    top: 3.5rem;
    right: 18.5rem;
    background-color: whitesmoke ;
    padding: 10px 2rem;
    border-radius: 5px;
    gap: .5rem;
}
.headerMiCuenta a{
    width: 90%;
}
.headerSesion{
    color:#204d48;
    font-weight: 700;
}
.headerSesion:hover{
    color: #955f31;
}
.header p{
    font-weight: bold;
    font-size: 1.2rem;
}
header span{
    color: white;
    font-size:large;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbarContain{
    width: 100%;
    border: none;
    background-color: #955f31;
}
.dropdown{
    width: 75% !important;
}
.headerIcon {
    width: 70px;
    height: 70px;
    margin-right: 1rem;
}
.navbar-brand{
    margin: 0!important;
}
.navDrop{
    margin: 1rem 0;
    display: flex !important;
    width: 25rem !important;
}
.navText{
    display: flex !important;
    align-items: flex-end;
    font-weight: bolder;
    width: 100% !important;
}

#basic-nav-dropdown{
    color: #faffd8;
    font-weight: 500;
    letter-spacing: 1.3px;
    border:1.2px solid #45230f;
    border-radius: 10px;
    padding: 3px .5rem;
    margin: 0 8px;
}
#basic-nav-dropdown:hover{
    transform: translateY(-10px) !important;
    transition: 0.6s;
}
.me-auto{
    align-items: baseline;
    display: flex;
    align-items: center;
}
.navAll{
    color: #fff;
    font-weight: 500;
    border: 1px solid #45230f;
    border-radius: 10px;
    padding: 3px .5rem;
    background-color: #45230f;
}
.navAll:hover{
    color:#faffd8 !important;
    background-color: #955f31;
}
.dropdown-menu{
    background-color: #faffd8 !important;
}

.navDrop:hover{
    background-color: #a3bbad !important;
}

.btn-cart {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: #faffd8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sup {
    background-color: #E8B100;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 0;
    color: black;
    font-size: 1rem !important;
    text-align: center;
    letter-spacing: 0px;
    margin-left: -.7em;
}
@media (max-width: 1500px) {
    .headerMiCuenta{
        top: 3.5rem;
        right: 15.5rem;
    } 
}
@media (max-width: 1200px) {
    .dropdown{
        justify-content: end !important;
    }
    .navbar-toggler{
        border:2px solid #45230f !important;
    }
    .nav-item{
        margin: 8px 0;
        text-align: center;
    }
    .navDrop{
        font-size: 1.5rem !important;
        color: #204d48 !important;
        font-weight: bolder !important;
        letter-spacing: 2px;
    }
    .navDrop:hover{
        background-color: #a3bbad !important;
    }
    .headerMiCuenta{
        top: 3.5rem;
        right: 13.5rem;
    } 
}
@media (max-width: 1050px) {
    .headerMiCuenta{
        top: 3.5rem;
        right: 11.5rem;
    } 
}
@media (max-width:730px){
    .navDrop {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        font-size: 1rem !important;
    }
    .navText {
        padding-top: 1rem !important;
    }
    .headerPrueba{
        top: 3.5rem;
        right: 11rem;
    }
    .headerMiCuenta{
        top: 3.5rem;
        right: 9rem;
    } 
}
@media (max-width: 650px) {
    .navDrop img{
        color: #204d48 !important;
    }
    .headerLogoCafe{
        margin-left: -12%;
        top: 70px;
        width: 85px !important;
        height: 85px !important;
    }
    .container-avatar{
        display: flex !important;
        align-items: center !important;
    }
    .headerCart{
        width: 20px;
        height: 20px;
        align-self: center;
    }
    .headerMiCuenta{
        top: 3.5rem;
        right: 7.5rem;
    } 
}
@media (max-width: 550px) {
    .navDrop{
        width: auto !important;
    }
    .navText{
        font-size: 14px;
    }    
}
@media (max-width: 500px){
    .headerLogoCafe{
        margin-left: 6%;
    }
    .headerPedi{
        font-size: 1rem;
    }
}
@media (max-width: 465px) {
    .navText{
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    .headerPrueba{
        top: 3.5rem;
        right: 9rem;
    }
    .headerPedi img{
        width: 20px !important;
        height: 20px !important;
    }
    .container-avatar img{
        width: 30px !important;
        height: 30px !important;
    }
    .headerPedi{
        font-size: .7rem;
    }
    .headerMiCuenta{
        top: 3.5rem;
        right: 6rem;
        padding: 8px 1rem;
    }    
}
@media (max-width: 400px) {
    .navText{
        font-size: 12px;
    }
    .headerLogoCafe{
        top: 4.5rem;
        left: 1rem;
        width: 80px !important;
        height: 80px !important;
    } 
}
@media (max-width: 340px){
    .headerLogoCafe{
        top: 7.5rem;
        width: 80px !important;
        height: 80px !important;
    }
    .headerMiCuenta{
        top: 4rem;
        right: 5rem;
    }
}

