.homeCardsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeCardColor {
    width: 100%;
    background-color: #e4f5eb;
    display: flex;
    justify-content: center;
}
.homeCardColor:nth-child(even) {
    background-color: #a3bbad;
}
.homeCardColor:nth-child(even) .homeCardPhotoContainer{
    order: 1;
}
.homeCardContainer {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}
.homeCardPhotoContainer{
    width: 50%;
    padding: 0 2rem;
}
.homeCardPhotoContainer img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: .5rem .3rem 1rem #956031;
}
.homeCardInfo {
    width: 50%;
    padding: 0 2rem;
}
.homeCardInfo h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.homeCardInfo p {
    font-size: .9rem;
    text-align: justify;
}
.homeBtn button{
    background-color: #204d48;
    padding: .5rem;
    border-radius: 15px;
    font-size: x-large;
    color: #faffd8;
}
.homeBtn button:hover{
    background-color: #faffd8;
    color: #45230f;
    font-weight: 600;
}
.buyH1{
    width: 100%;
    background-color: #204d48;
    margin: 0;
    text-align: center;
    color: #956031;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1rem 0;
}
.buyContainer{
    width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: #204d48;
    color: #e4f5eb;
    text-align: center;
    padding-bottom: 2rem;
    align-items: center;
}
.buyBanner{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.buyDescription {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 30px;
}
.buyDescription h3{
    text-align: center;
    padding: 1rem 0;
}
.buyDescription h5{
    color: #956031;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-align: center;
}
.buyDescription img{
    width: 50px;
    align-self: center;
}
.buyBtn button{
    background-color: #204d48;
    border: 2px solid #45230f;
    padding: .5rem;
    border-radius: 15px;
    font-size: x-large;
    color: #faffd8;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}
.buyBtn button:hover{
    background-color: #faffd8;
    color: #45230f;
}

@media screen and (max-width: 1024px) {
    .homeCardContainer {
        flex-direction: column;
        width: 90%;
    }
    .homeCardPhotoContainer{
        width: 100%;
    }
    .homeCardInfo {
        padding-top: 2rem;
        width: 100%;
    }
    .homeCardColor:nth-child(even) .homeCardPhotoContainer{
        order: 0;
    }
    .homeCardColor:nth-child(even) .homeCardInfo h3, .homeCardColor:nth-child(even) .homeCardInfo p{
        text-align: end;
    }
}
@media screen and (max-width: 768px){
    .buyContainer{
        flex-direction: column;
        gap: 4rem;
    }
}
