.form-login-user {
    min-height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login-user form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    height: 300px;
    width: 350px;
    border-radius: 0.5rem;
}

.form-login-user form div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

