.MyAccountContainer{
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    color: #1D1F1F
}

.MyDataContainerRole  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.MyDataContainerRole p {
    margin-bottom: 0 !important;
    background-color: #a3bbad;
    border-radius: 1rem;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    color: #1D1F1F;
}

.MyAccountContainer h4, .MyOrderDetails h4{
    width: 100%;
    font-size: 1rem;
    border-bottom: 1px solid lightgrey;
}
.MyLoginData p, .MyAccountData p{
    margin: 0 !important;
    font-size: .9rem;
}
.MyAccountContainer span{
    font-weight: 500;
}
.MyDataContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}
.MyOrdersContainer, .MyOrderDetails{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.MyLoginData, .MyAccountData, .AllMyOrders, .MyOrderProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1rem #a3bbad;
    margin: .5rem 0;
    gap: .4rem
}
.MyAccountData-btn h4 {
    border-bottom: none;
}

.MyAccountData-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}


.MyAccountData-btn  a {
    background-color: transparent !important;
    border-radius: 1rem;
    color: black !important;
    font-size: .8rem;
    font-weight: bold;
}

.MyAccountData-btn  button:hover {
    transform: scale(1.1);
}

.AllMyOrders{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .6rem;
}
.MyLoginData > img{
    width: 6rem;
    border-radius: 3rem;
}
.MyOrderTitles{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}
.MyOrderTitles p{
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
    margin: 0 !important;
}
.MyOrderFinalPrice{
    align-self: flex-end;
}
.MyOrderFinalPrice h6{
    font-size: 1rem;
    font-weight: 400;
}
.MyOrderFinalPrice strong{
    font-size: 1.2rem;
}
p.lineCross{
    border-bottom: 1px solid lightgrey;
}

@media screen and (max-width: 1200px){
    .AllMyOrders {
       flex-direction: column;
    }
    .MyDataContainer{
        width: 40%;
    }
    .MyOrdersContainer{
        width: 55%;
    }
}

@media screen and (max-width: 1024px){
    .MyAccountContainer {
       flex-direction: column;
       align-items: center;
    }
    .MyDataContainer, .MyOrdersContainer, .MyOrderDetails{
        width: 90%;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 768px){
    .MyDataContainer, .MyOrdersContainer, .MyOrderDetails{
        width: 100%;
    }
}