.signUpContainer{
    background-image: url('../../public/cafe-fondo4.jpg');
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
    background-size: cover;
    padding: 1rem;
}
.formContainer{
    width: 100%;
}
.formSignUp{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 35rem;
    background-color:rgba(0, 0, 0, 0.591);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}
.formSignUp h2 {
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    margin: 0 10px;
    padding-bottom: 10px;
    color: #FAFFD8;
    border-bottom: 3px solid #FAFFD8;
}
.inputContainer1 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
}
.buttonContainer {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.formBtn {
    width: 30rem;
    height: 3rem;
    background-color: #204D48;
    border-radius: .8rem;
    color: #FAFFD8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.formBtn:hover {
    background-color: #39736c;
    color: #FAFFD8;
    border: #204D48 solid;
    transition: .6s;
}

@media screen and (max-width: 1000px){
    .inputContainer1 {
       flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .formSignUp{
        width: 80%;
    }
}
@media screen and (max-width: 768px){
    .formSignUp{
        width: 90%;
    }
}